@header-background-color : #1c1c1c;
@tab-active-color : #f44336;
@text-white : #fff;
@text-black : #000;
@tab-width: 45%;
@tab-default-color : #616161;
@aside-panel-color : #f1f1f1;
@tab-hover-color : #CCCCCC;
@large-title-font-size : 1.6rem;
@medium-title-font-size : 1.2rem;
@width-small : 30%;
body {
    font-size: 62.5%;
}

#header {
    background: @header-background-color;
    height: 60px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
}

#header .logo {
    left: 10%;
    top: 10%;
    height: 90%;
    position: absolute;
    color: #fff;
    text-decoration: none;
    background: url('../img/aeroplane.png') no-repeat;
    padding-left: 60px;
}

.main_title {
    font-size: @large-title-font-size;
}

.description {
    font-size: @medium-title-font-size;
}

.tab-active-radio {
    display: none;
}

.tab-header {
    margin: 2%;
    padding: 2%;
    word-wrap: break-word;
    font-size: @medium-title-font-size;
    display: block;
    width: @tab-width;
    cursor: pointer;
    background-color: @tab-default-color;
    color: @text-white;
    text-decoration: none;
    text-align: center;
    transition: background .3s, color .15s, box-shadow .3s, opacity 0.3s;
}

.tab-header:hover {
    background: @tab-hover-color;
    color: @text-black;
}

.tab_container .tab-active-radio:checked + .tab-header {
    background: @tab-active-color;
    color: @text-white;
}

.tab_container {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}

.search-area {
    width: @width-small;
    background-color: @aside-panel-color;
}
